@using System.Globalization 

<p class="m-0">
    @foreach (var line in Text.Split(Environment.NewLine))
    {
        @line<br />
    }
</p>

@code {
    [Parameter]
    public string Text { get; set; }
}