.paper {
    margin-top: 8px;
    display: 'flex';
    flex-direction: 'column';
    align-items: 'center';
}

.avatar {
    margin: auto;
    background-color: #3f51b5!important;
}

.submit {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

.text-center {
    text-align: center;
}